#signinForm{
    background: url('../Images/signupBackground.jpg') no-repeat center center fixed; 
    background-size: cover;
   }
   
  
   .signinForm {
       margin: 12%; 
       background-color: white;
   }

