.loginForm{
    background: url('../Images/signupBackground.jpg') no-repeat center center fixed; 
    background-size: cover;
   }
   
  
   .registerForm {
       margin: 12%; 
       background-color: white; 
       
   }